.App {
  text-align: center;
  background-image: url(./assets/background.svg);
  background-attachment: fixed;
  background-size: cover;
}
.card-custom{
  max-width: 25rem;
  margin: 1rem;
}
.card-banner{
  max-height: 200px;
  min-height: none;
  max-width: 25rem;
  min-width: none;
  object-fit:fill
}