.App {
  text-align: center;
  background-image: url(./assets/background.svg);
  background-attachment: fixed;
  background-size: cover;
}
.card-custom{
  width: 25rem;
  min-height: 25rem;
  margin: 1rem;
}
@media screen and (max-width: 576px) {
  .card-custom{
    width: 20rem;
    min-height: 20rem;
  }    
}
.card-banner{
  max-height: 200px;
  min-height: none;
  max-width: 25rem;
  min-width: none;
  object-fit:contain;
}
.img-rounded{
  border-radius: 50px;
  object-fit:cover;
}
.profile{
  height: fit-content;
  max-width: max-content;
  color: white;
}
.profile>img{
  margin-bottom: 1rem;
}
.profile>p{
  font-size: 1rem;
  max-width: fit-content;
}
.profile>ul{
  list-style-type: none;
  padding-left: 0;
}
.modal-custom{
  min-width: 30vw;
  width: fit-content;
}
h3{
  font-size: 1.2rem;
}
.is-sticky {
  position: fixed;
  top: 10px;
  z-index: 999;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}