.App {
  text-align: center;
  background-image: url(./assets/background.svg);
  background-attachment: fixed;
  background-size: cover;
}
.card-custom{
  max-width: 25rem;
  margin: 1rem;
}
.card-banner{
  max-height: 200px;
  min-height: none;
  max-width: 25rem;
  min-width: none;
  object-fit:fill
}
.img-rounded{
  border-radius: 50px;
  object-fit:cover;
}
.profile{
  height: fit-content;
  max-width: max-content;
  color: white;
}
.profile>p{
  font-size: 1rem;
  max-width: fit-content;
}
.profile>ul{
  list-style-type: none;
  padding-left: 0;
}
